html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

header {
  background: rgba(150, 150, 150, 0.5);
  border-bottom: solid 1px;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

main {
  padding-top: 5px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 60px;
}

footer {
  border-top: solid 1px;
  background: rgba(0, 4, 255, 0.5);
  width: 100%;
  height: 60px;
  padding-top: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

section {
  display: none;
}

form {
  border: 1px solid black;
  padding: 5px;
  width: fit-content;
}

fieldset {
  display: none;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse; 
}

td, th {
  padding: 10px;
}

#updateText {
  text-align: center;
}

#logNav {
  display: none;
}

.loggedForm {
  display: none;
}

.hamburger {
  display: block;
  width: 100%;
  background-color: #6495ED;
  text-align: right;
}

.hamburger-button {
  display: inline-block;
  padding-right: 5px;
  background-color: #6495ED;
  cursor: pointer;
}

.hamburger-button::after {
  content: "\2261";
  font-size: 150%;
  vertical-align: middle;
  padding: 0 8px;
}

.menu {
  display: none;
  list-style-type: none;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
}

.menu li {
  border: 1px solid #6495ED;
  text-align: center;
  background-color: #6495ED;
}

.menu li:hover {
  border-color: #d1d5db;
}

.hamburger-checkbox {
  display: none;
}

.hamburger-checkbox:checked ~ .menu {
  display: block;
}
